.titleHead {

    display: inline;
    padding-left: 80px;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: bisque;
    

}
.deco {
    text-decoration: none;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    display: inline;
    margin-right: 80px;
    font-size: 25px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    height: 100px;
}

footer {

    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    margin: 0;
    padding: 0;
    height: 100px;
}

h1 {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    margin-top: 60px;
    border-bottom: 4px solid black;
    padding-bottom: 10px;
    width: 600px;
    text-align: center;
    margin-bottom: 120px;
}

.textHome {
    font-size: 40px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 120px;
}

.imgContain {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

.imgContain {
    margin-bottom: 60px;
}



.addImg{
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 40px;
}

.linkDelete{
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
    display: block;
}

.error{
    font-size: 50px;
    color: red;
    border: 3px solid rgb(145, 5, 5);
    width: 60% ;
    margin: auto;
    text-align: center;
    margin-bottom: 80px ;
    padding: 10px;
}